@font-face {
    font-family: HowdyLemon;
    src: url('../assets/fonts/HowdyLemon.ttf');
}

* {
    box-sizing: border-box;
    font-family: HowdyLemon;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #ffeff5;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 5px;
    margin-top: 25px;
  }

  .column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 20%;
    margin: 5px;
  }

  header {
    background-color:#fe7bac;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 2px;
    font-size: 25px;
    color: white;
  }

  footer {
    background-color: #fe7bac;
    padding: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: center;
    color: white;
  }

  button {
    background-color: #d9437a; 
    border: none;
    color: white;
    min-width: 300px;
    padding: 16px 32px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #ff87b9; 
  }
